<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
        Options +FollowSymLinks
    </IfModule>

    RewriteEngine On

    # RewriteCond %{HTTP_HOST} ^www\.
    # RewriteRule ^(.*)$ https://kristinosukis.lt/$1 [R=301,L]  


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]




    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    RewriteRule ^(.*)$ https://kristinosukis.lt%{REQUEST_URI} [L,R=301,NC]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller..


    # RewriteCond %{HTTP_HOST} www.kristinosukis.lt
    # RewriteRule (.*) https://kristinosukis.lt/$1 [R=301,L]

   

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


</IfModule>
